:root {
  --nav-header-size: 3vw;
  --nav-a-size: 2.5vw; 
  --h1-main-header-text-size: 6vw;
  --main-text-size: 2.75vw;
  --main-header-size: 3.5vw;
  --background-html: #050517;
  --bakcground-h1-main-header: #15162b;
  --background-nav: #292929;
  --background-main-section: #0C0C3B;
  --background-code: #141459;
  --background-footer: #313147;
  /* --nav-text-color: #82d2fa; */
  --nav-text-color: #4ee6d1;
  --nav-text-highlight-color: #3fb2eb;
  --main-text-color: #cdcefa;
}

/* #88ff6d #36e60e #a6a6a6 #535353 #292929 */

html {
  box-sizing: border-box;
  min-height: 100vh;
  height: auto;
  font-family: "Lucida Console", serif;
  background-color: var(--background-html);
}  

h1.main-header {
  font-size: var(--h1-main-header-text-size);
  background-color: var(--bakcground-h1-main-header);
  color: var(--nav-text-color);
  text-align: center;
  width: 45%;
  padding: 1%;
  border: var(--nav-text-color) 3px solid;
  border-radius: 1em;
  margin: 0 auto 0.5em auto;
}

#navbar {
  background-color: var(--background-main-section);
  display: block;
  width: 18%;
  height: auto;
  float: left;
  margin: 0 0 100% 0;
  border-radius: 0.5em;
  position: sticky;
  top: 2vh;
}

#navbar header {
  color: var(--nav-text-highlight-color);
  border-bottom: var(--nav-text-highlight-color) 0.3vh solid;
  width: 100%;
  font-size: var(--nav-header-size);
  text-align: center;
  padding: 0 0 0.2em 0;
  margin: 0.75vh 0 0.75vh 0;
  overflow-wrap: break-word;
}

a.nav-link:link {
  color: var(--nav-text-color);
  text-decoration: none;
  font-size: var(--nav-a-size);
  display: block;
  margin: 0.5em 0 0.15em 0.4em;
  /*top right bottom left*/
  cursor: default;
  overflow-wrap: break-word;
}

a.nav-link:visited {
  color: var(--nav-text-color);
  cursor: default;
}

a.nav-link:hover {
  cursor: default;
  color: var(--nav-text-highlight-color);
}

a.nav-link:hover::after {
  content: "<-";
  margin: 0 0.25em;
  padding: 0 0;
  overflow-wrap: normal;
  float: right;
  position: absolute;
}

#navbar a.nav-link:first-of-type {
  margin-top: 0.2em;
}

#navbar a.nav-link:last-of-type {
  margin-bottom: 0.25em;
}

#main-doc {
  font-size: var(--main-text-size);
}

section.main-section {
  background-color: var(--background-main-section);
  color: var(--main-text-color);
  margin: 5vh 3vw 5vh 19%;
  height: auto;
  border-radius: 0.5em;
}

section.main-section:first-of-type {
  margin: 0 0 5vh 19%;
}

section.main-section:last-of-type {
  margin: 5vh 0 0 19%;
}

header.no-show {
  display: none;
}

div.main-section-div {
  margin: 0 0 0 1.5%;
  display: inline-block;
}

div.main-section-div * {
  margin: 4vh 0;
}

div.main-section-div *:nth-child(2) {
  margin-top: 2.5vh;
}

div.main-section-div header {
  font-size: var(--main-header-size);
  display: block;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 3vw;
  text-decoration: underline solid var(--main-text-color) 1px;
  text-underline-offset: 0.5vh;
}

div.main-section-div p {
  margin-left: 1vw;
  margin-right: 4vw;
  padding-left: 1.3vw;
  border-left: 0.2vw solid var(--nav-text-color);
}

div.main-section-div pre {
  white-space: pre-wrap;
  margin: 1vw 0 0.5vw 0;
}

div.main-section-div code {
  font-family: 'Courier New';
  display: block;
  font-size: 1.1em;
  font-weight: 800;
  margin: 0 2% 0 0.5%;
  background-color: var(--background-code);
  border-radius: 0.25em;
  padding: 0.75em;
}

div.main-section-div pre code {
  margin-left: 1vw;
}

div.main-section-div ul, div.main-section-div ol {
  padding-left: 3.5vw;
  margin: 2vh 1.5vw;
}

div.main-section-div li {
  padding: 0.5%;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

div.main-section-div li:first-child {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.5%;
}

div.main-section-div li:last-child {
  margin-bottom: 0;
  padding: 0.5%;
}

/* div.main-section-div *:nth-child(2) {
  margin-top: 1.5vh;
} */

div.main-section-div *:last-child {
  margin-bottom: 2.5vh;
}

footer {
  background-color: var(--background-footer);
  padding: 0.75em;
  margin-top: 2vh;
  border-radius: 0.5em;
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

@media (min-width: 800px) {
  
  :root {
    --nav-header-size: 24px;
    --nav-a-size: 18px;
    --h1-main-header-text-size: 50px; 
    --main-text-size: 22px;
    --main-header-size: 32px;
    --background-html: #050517;
    --bakcground-h1-main-header: #15162b;
    --background-nav: #292929;
    --background-main-section: #0C0C3B;
    --background-code: #141459;
    --background-footer: #313147;
    /* --nav-text-color: #82d2fa; */
    --nav-text-color: #4ee6d1;
    --nav-text-highlight-color: #3fb2eb;
    --main-text-color: #cdcefa;
  }

  h1.main-header {
    font-size: var(--h1-main-header-text-size);
    background-color: var(--background-main-section);
    color: var(--nav-text-color);
    text-align: center;
    width: 430px;
    padding: 1%;
    border: var(--nav-text-highlight-color) 3px solid;
    border-radius: 1em;
    margin: 0 auto 0.5em auto;
  }

  #navbar {
    width: 15%;
  }

  section.main-section {
    /* margin: 1vh 0 0 14%; */
    margin: 5vh 0 5vh 16%;
  }

  section.main-section:first-of-type {
    margin: 0 0 5vh 16%;
  }
  
  section.main-section:last-of-type {
    margin: 5vh 0 0 16%;
  }
}
  
