/* body {
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
  font-family: sans-serif;
  padding: 20px;
}

h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

h2 {
  font-size: 30px;
}

.established {
  font-style: italic;
}

h1, h2, p {
  text-align: center;
}

.menu {
  width: 80%;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
}

hr {
  height: 2px;
  background-color: brown;
  border-color: brown;
}

.bottom-line {
  margin-top: 25px;
}

h1, h2 {
  font-family: Impact, serif;
}

.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

.flavor, .dessert {
  text-align: left;
  width: 75%;
}

.price {
  text-align: right;
  width: 25%;
}

footer {
  font-size: 14px;
}

.address {
  margin-bottom: 5px;
}

a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: brown;
}

a:active {
  color: brown;
} */

:root {
  --nav-h1-size: 3vw;
  --nav-a-size: 2.5vw; 
  --main-text-size: 2vw;
  --main-header-size: 2.5vw;
  --text-color: #88ff6d;
  --text-highlight-color: #36e60e;
  --background-secondary: #292929;
  --background-main: #535353;

}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

/* @media (max-width: 500px) {
  #navbar {
    background-color: #292929;
    display: block;
    width: 100%;
    height: auto;
    float: top;
    margin-bottom: 100%;
  }
  p.tryit {
    color: aquamarine;
  }
} */

html {
  /* font-size: 3.75vw; */
  box-sizing: border-box;
  min-height: 100vh;
  height: auto;
  font-family: monospace;
  background-color: default;
}

div.no-footer {
  min-height: 100vh;
  margin-bottom: 0;
}

h1.main-header {
  color: var(--text-color);
  text-align: center;
  width: 100%;
  margin: 0 auto 0.5em 0;
  background-color: var(--background-secondary);
  border-bottom: var(--text-color) 3px solid;
}

#navbar {
  background-color: var(--background-secondary);
  display: block;
  width: 18%;
  height: auto;
  float: left;
  margin: 0 0 100% 0;
  /* margin-bottom: 100%; */
  border-radius: 0.5em;
}

/* #navbar:hover {
  background-color: #292929;
  display: block;
  width: 20%;
  height: auto;
  float: left;
  margin-bottom: 100%;
  border-radius: 0.4em;
} */

/* .flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} */

#navbar h1 {
  color: var(--text-highlight-color);
  border-bottom: black 0.25em solid;
  width: 100%;
  /*! font-size: 95%; */
  font-size: var(--nav-h1-size);
  text-align: center;
  /* background-color: red; */
  /* font-size: fit-content; */
  padding: 0 0 0.2em 0;
  margin: 0.75vh 0 0.75vh 0;
  overflow-wrap: break-word;
}

a.nav-link:link {
  color: var(--text-color);
  text-decoration: none;
  /* font-size: 80%; */
  font-size: var(--nav-a-size);
  display: block;
  margin: 0.5em 0 0.15em 0.4em;
  /*top right bottom left*/
  cursor: default;
  overflow-wrap: break-word;
}

a.nav-link:visited {
  color: var(--text-color);
  cursor: default;
}

a.nav-link:hover {
  cursor: default;
  color: var(--text-highlight-color);
}

a.nav-link:hover::after {
  content: "<-";
  margin: 0 0.25em;
  padding: 0 0;
  overflow-wrap: normal;
  float: right;
  /* text-align: right; */
  /* width: 15%; */
  position: absolute;
}

#navbar a.nav-link:first-of-type {
  margin-top: 0.2em;
}

#navbar a.nav-link:last-of-type {
  margin-bottom: 0.25em;
}

#main-doc {
  font-size: var(--main-text-size);
}

section.main-section {
  margin: 1vh 0 0 19%;
  width: auto;
  background-color: #535353;
  border-radius: 0.5em;
}

section.main-section > * {
  margin: 1% 0 0 1%;
}

main.main-doc {
  margin-bottom: 0;
}

main p:first-of-type {
  margin-top: 0;
}

footer.continue-color {
  margin: 0 0 0.25em 0;
  min-height: 2em;
  height: auto;
  background: linear-gradient( black, grey);
}

footer.continue-color p {
  margin: 0 0 0 0;
}

  
  
  
  
