p {
    color: rgb(235, 152, 133);
    font-weight: bold; /* bold/bolder/normal/100-600 */
    font-style: normal;/* normal/italic */
    text-decoration: none; /* overline/line-through/underline (for anchors)/none */
    text-transform: none; /* capitalaize/uppercase/lowercase/none */
    text-indent: 1em;

}

a {
    color: blue;

    letter-spacing: 0.25em;
    word-spacing: 1em;
    line-height: 1.5;
    text-align: center;
    /*text-decoration: none;*/
}

ol {
    color: rgb(40, 245, 22);

    /*
    font-size: 14px;
    
    px (such as font-size: 12px) is the unit for pixels.
    em (such as font-size: 2em) is the unit for the calculated size of a font. So “2em”, for example, is two times the current font size.
    pt (such as font-size: 12pt) is the unit for points, for measurements typically in printed media.
    % (such as width: 80%) is the unit for… wait for it… percentages.
    */
}

 h1 {
    color: rgb(219, 101, 101);
    font-style: italic;
    text-transform: capitalize;
    text-decoration: underline;
    text-decoration-color: rgb(219, 101, 101);
    /*background-color: red;*/
} 

h2 {
    color: rgb(244,151,142);
}
